#短信与语言网关地址
sms{
	gateway http://yunpian.com/v1/sms/tpl_send.json;
	gateway_send http://yunpian.com/v1/sms/send.json;
    callback http://test.gn100.com/sms.callback.yunpian;
	apikey 44a401d4734d91ea918efaa0d23379f4;
	gateway_voice http://voice.yunpian.com/v1/voice/send.json;
	display_num 4000812798;
}
weedfs{
	master http://10.165.61.79:9333;
}
ip{
	gateway http://127.0.0.1:9002;
}
message{
	gateway http://127.0.0.1:8001;
	apikey MyNameisGn100;
}
